doctype html
html(lang='tr')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0')
    title #{title}
    link(href='https://fonts.googleapis.com/css?family=Sofia:400,700|Inter:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js")
    if includes && includes.external
      if includes.external.css
        if includes.external.css.includes('page')
          link(rel='stylesheet' href=`/css/${page}.css`)
        if includes.external.css.includes('general')
          link(rel='stylesheet' href=`/css/${page.split('/')[0]}/general.css`)
        if includes.external.css.includes('index')
          link(rel='stylesheet' href=`/css/${page.split('/')[0]}/index.css`)
      if includes.external.js 
        if includes.external.js.includes('page')
          script(src=`/js/${page}.js`)
        if includes.external.js.includes('functions')
          script(src=`/js/functions/changeInitialsFontFamily.js`)
          script(src=`/js/functions/downloadCSV.js`)
          script(src=`/js/functions/getDateRange.js`)
          script(src=`/js/functions/handleCalendarEvents.js`)
          script(src=`/js/functions/handleExportEvents.js`)
          script(src=`/js/functions/httpRequest.js`)
          script(src=`/js/functions/nativeCurrencyConversions.js`)
          script(src=`/js/functions/renderTableHeader.js`)
          script(src=`/js/functions/renderValidators.js`)
        script(src='https://kit.fontawesome.com/e47420f551.js' crossorigin='anonymous')
  body
    block content
  footer 