doctype html
html(lang='tr')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0')
    title #{title}
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Playfair+Display&display=swap' rel='stylesheet')
    if includes && includes.external
      if includes.external.css
        each css in includes.external.css
          if `${css}` == 'page'
            link(rel='stylesheet' href=`/css/${page}.css`)
          else
            link(rel='stylesheet' href=`/css/index/${css}.css`)
      if includes.external.js 
        if includes.external.js.includes('page')
          script(src=`/js/${page}.js`)
        if includes.external.js.includes('functions')
          script(src=`/js/functions/animateOverflowMonikers.js`)
          script(src=`/js/functions/cookieFunctions.js`)
          script(src=`/js/functions/createSpinner.js`)
          script(src=`/js/functions/displaySkeleton.js`)
          script(src=`/js/functions/getDateRange.js`)
          script(src=`/js/functions/handleCalendarEvents.js`)
          script(src=`/js/functions/handleExportEvents.js`)
          script(src=`/js/functions/handleNavbar.js`)
          script(src=`/js/functions/handleNetworkSwitch.js`)
          script(src=`/js/functions/handleValidatorSearch.js`)
          script(src=`/js/functions/httpRequest.js`)
          script(src=`/js/functions/nativeCurrencyConversions.js`)
          script(src=`/js/functions/graphFunctions/addColumnEventListener.js`)
          script(src=`/js/functions/graphFunctions/addColumnToExistingGraph.js`)
          script(src=`/js/functions/graphFunctions/addInactivityDetails.js`)
          script(src=`/js/functions/graphFunctions/addVerticalAxisLabels.js`)
          script(src=`/js/functions/graphFunctions/generatePointAndLine.js`)
          script(src=`/js/functions/graphFunctions/generateSingleHorizontalAxisLabel.js`)
          script(src=`/js/functions/graphFunctions/getAngleBetweenTwoPoints.js`)
          script(src=`/js/functions/graphFunctions/handlePlotButtonClick.js`)
          script(src=`/js/functions/graphFunctions/prettyDate.js`)
          script(src=`/js/functions/graphFunctions/adjustLineWidthAndAngle.js`)
          script(src=`/js/functions/plotValidatorGraph.js`)
          script(src=`/js/functions/renderTableHeader.js`)
          script(src=`/js/functions/renderValidators.js`)
          script(src=`/js/functions/handleSummaryGraphActions.js`)
    - const navbarWidth = isNavbarClose ? '50px' : '237px';
    style.
      :root {
        --navbar-width: #{navbarWidth};
      }
  - const showPercentageChange = ((new Date(selectedDateTop).getTime() + new Date(selectedChain.first_available_block_time).getTime()) / 2) <= (new Date(selectedDateBottom)) ? true : false;
  body(summaryGraphData=summaryGraphData smallGraphData=smallGraphData, summaryData=summaryData, validators=validators, showPercentageChange=showPercentageChange)
    .all-wrapper
      .navbar-wrapper#navbar-wrapper(class=`${isNavbarClose ? 'navbar-close' : ''}`)        
        .header-banner-wrapper
          .banner-logo-wrapper(class='center')
            img(src='/res/images/logo.svg', alt='node101' class='center')
          .banner-title-content(class='navbar-text') VALIDATIER
        -
          const reward_flow_graph_data = {
            title: 'Reward Flow Overview',
            description: 'Shows how validators respond to changes in total capitulation and delegation in the market',
            dataFields: ['total_stake_sum', 'total_withdraw_sum', 'total_sold'],
            colors: ['rgba(255, 149, 0, 1)', 'rgba(50, 173, 230, 1)', 'rgba(88, 86, 214, 1)']
          }
          const menu = [
            {
              title: 'Navigation',
              links: [
                { id: ['dashboard', ''], icon: 'dashboard.svg', title: 'Dashboard', graph: reward_flow_graph_data },
                { id: ['validators'], icon: 'validators.svg', title: 'Validators', graph: {} },
              ]
            },
            {
              type: 'insights',
              title: 'Insights',
              links: [
                //- { 
                //-   id: ['reward_flow'], 
                //-   icon: 'reward_flow.svg', 
                //-   title: 'Reward Flow',
                //-   graph: reward_flow_graph_data
                //- },
                //- { 
                //-   id: ['self_staked_and_delegation'], 
                //-   icon: 'self_staked_delegation.svg', 
                //-   title: 'Self-Staked & Delegation',
                //-   graph: {
                //-     title: 'Self-Staked & Delegation',
                //-     description: 'Total Self-Staked & Total Delegation',
                //-     dataFields: ['total_stake_sum', 'self_stake_sum'],
                //-     colors: ['rgba(255, 149, 0, 1)', 'rgba(88, 86, 214, 1)']
                //-   }
                //- },
                { 
                  id: ['percentage_sold_graph'], 
                  icon: 'percentage_sold_graph.svg', 
                  title: 'Percentage Sold Graph',
                  graph: {
                    title: 'Percentage Sold Graph',
                    description: 'Total Sold / Total Reward Withdrawn',
                    dataFields: ['percentage_sold'],
                    colors: ['rgba(255, 149, 0, 1)']
                  }
                },
              ]
            }
          ]
        .navbar-menu-wrapper
          each subMenu in menu
            .each-sub-menu-wrapper
              //- .each-sub-menu-title= subMenu.title 
              .each-sub-menu-links-wrapper 
                each link in subMenu.links 
                  .each-sub-menu-link-content(graph_title=`${link.graph.title}`, graph_description=`${link.graph.description}` type=`${subMenu.type}` dataFields=JSON.stringify(link.graph.dataFields) colors=JSON.stringify(link.graph.colors) id=`${link.id[0]}` class=`${link.id.includes(url) ? 'navbar-link-selected' : ''}`)
                    img.each-sub-menu-link-icon(class='navbar-icon' src=`/res/images/navbar/${link.icon}` alt='node101')
                    .each-sub-menu-link-title(class='navbar-text')= link.title
        -
          const socials = [
            { href: 'https://x.com/node_101', icon: 'x.svg' },
            { href: 'https://t.me/node101', icon: 'telegram.svg' },
            { href: 'https://github.com/node101-io', icon: 'github.svg' },
          ]
        .navbar-footer-wrapper
          each social in socials
            a(href=social.href target='_blank').each-social-icon
              img(src=`/res/images/socials/${social.icon}`)
      block content