extends ../partials/head
block content 
  .all-main-wrapper 
    .header-main-wrapper 
    .inner-main-wrapper
      .query-main-wrapper
        .general-title-description-wrapper
          h3 Node101 | CosmosHub Validator Timeline
          p Node101's journey as a CosmosHub validator, detailing key milestones, challenges, and achievements. This timeline highlights their evolution, contributions, and impact within the Cosmos ecosystem.
        .table-filters
          .date-picker
            .selected-range 
              span.date-interval-description 
                include ../icons/calendar.pug
                span#header-selected-range-description All time
              span.date-range
                span#header-range-bottom-block Genesis
                span  - 
                span#header-range-top-block= new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })
              .dropdown-icon
                include ../icons/chevron.pug
            .picker-main-wrapper
              .picker-content-wrapper
                .left-wrapper
                  .dropdown
                    ul
                      li.left-wrapper-each-choice(class='selected') All time
                        span.center#left-wrapper-selected-check-mark
                          include ../icons/check.pug
                      li.left-wrapper-each-choice#this-week This week
                      li.left-wrapper-each-choice#last-week Last week
                      li.left-wrapper-each-choice#last-7-days Last 7 days
                      li.left-wrapper-each-choice#last-30-days Last 30 days
                      li.left-wrapper-each-choice#last-90-days Last  90 days
                      li.left-wrapper-each-choice#this-year This year (Jan - Today)
                      li.left-wrapper-each-choice#last-calendar-year Last calendar year
                      li.left-wrapper-each-choice Custom
                .calendar-wrapper
                  .calendar
                    div(style='font-size: 10px; margin-bottom: 5px;') Time frame
                    .date-input
                      input(type='date' id='periodic-query-bottom-timestamp')
                      span —
                      input(type='date' id='periodic-query-top-timestamp')
                    .date-input-month-year-info-content
                      div(style='transform: rotateZ(90deg)')#previous-month
                        include ../icons/chevron_dark.pug
                      div#current-month-and-year-display
                      div(style='transform: rotateZ(-90deg)')#next-month
                        include ../icons/chevron_dark.pug
                    .days(class='days-header-wrapper')
                      each day in [ 'S', 'M', 'T', 'W', 'T', 'F', 'S' ]
                        span.day= day
                    .month-wrapper
                      .days#month-wrapper    
              .buttons
                .cancel Cancel
                .apply
                  span Apply
                  include ../icons/check.pug
          .export-main-wrapper 
            .export-wrapper-header(class='center' isOpen='false')#export-wrapper-toggle
              include ../icons/export.pug
              span Export CSV
            .export-wrapper-content
              div(style='display: none')
                div#export-sort-by ratio
                div#export-order desc
                div#export-bottom 24650450
                div#export-top 24650540
              .each-export-choice(range='0' class='export-choice-selected') All time
                div.center#export-choice-check-indicator
                  include ../icons/check.pug
              .each-export-choice(range=7) Every 7 days
              .each-export-choice(range=30) Every 30 days
              input.export-choice-rename-input(type='text' style='width: calc(100% - 20px);' placeholder='untitled.csv' id='export-choice-rename-input')
              .export-choice-download-button(class='center')#export-choice-download-button
                include ../icons/download.pug
                span Download
        table.validators-main-wrapper#validators-main-wrapper
          - 
            const headers_array = [
              {name: 'Self stake', id: 'self_stake'}, 
              {name: 'Withdraw', id: 'withdraw'}, 
              {name: 'Ratio', id: 'ratio'}, 
              {name: 'Sold', id: 'sold'}, 
            ]
          tr
            td Validators
            each header in headers_array
              td
                .each-table-header-wrapper(id=`${header.id}`)
                  .each-table-header-title= header.name
                  .each-table-header-sort-indicators 
                    .triangle-up
                    .triangle-down
          each validator, index in validators
            tr.each-validator-wrapper
              td(style='display: flex; align-items: center; gap: 20px;')
                .validator-image
                  .absolute-ranking-number-content(class='center')= index + 1
                  img(src=`${validator.temporary_image_uri ? validator.temporary_image_uri : '/res/images/default_validator_photo.png'}`)
                .validator-textual-info-wrapper 
                  .validator-moniker #{validator.moniker}
                  .validator-operator-address #{validator.operator_address}
              td.validator-each-numeric-info= (validator['self_stake'] / 1e6).toFixed(2) + ' ATOM'
              td.validator-each-numeric-info= (validator['withdraw'] / 1e6).toFixed(2) + ' ATOM'
              td.validator-each-numeric-info= (validator['ratio']).toFixed(2)
              td.validator-each-numeric-info= (validator['sold'] / 1e6).toFixed(2) + ' ATOM'
        .query-input-wrapper-header 
          select.general-select-content#query-search-by
            option(value='block_height') Block Height
            option(value='timestamp') Timestamp
        .query-main-wrapper-input-wrapper
          .each-input-wrapper 
            span Validator operator_address
            input(type='text' id='periodic-query-operator-address' placeholder='cosmosvaloper1...')
          .each-input-wrapper(class='query-block-height-input')
            span Bottom block_height
            input(type='number' id='periodic-query-bottom-block-height')
          .each-input-wrapper(class='query-block-height-input')
            span Top block_height
            input(type='number' id='periodic-query-top-block-height')
        .query-main-wrapper-result-content
          .submit-button#query-submit-button(style='color: var(--color-dark-violet); background-color: var(--color-powder-blue)') Get data
          ul 
            li
              span Total self_stake: 
              span#query-total-self-stake-result-content 0
              span  ATOM
            li
              span Total withdraw: 
              span#query-total-withdraw-result-content 0
              span  ATOM
          .general-single-line-request-result-display-content#general-single-line-request-result-display-content